Random Forest Algorithm with Python and Scikit-Learn

https://stackabuse.com/random-forest-algorithm-with-python-and-scikit-learn/

In [1]:
#import libraries 
import pandas as pd
import numpy as np

In [7]:
#import dataset
dataset = pd.read_csv("../Data/Train_data_Update.csv", index_col= "Start_date")

In [10]:
dataset.head()

,Count,Days_Open,Avg_Count,News_Count,Vis_change_rate,big_data_newsCount,prev_count,mid_count,after_count,WeekDay,Avg_Tmp,High_Tmp,Low_Tmp,Month,Day
Start_date,,,,,,,,,,,,,,,
2000-08-11,188046,10,18804.60000,25,0.000000,94,54,26,15,4,26.980000,32.020000,23.360000,8,11
2001-08-11,245338,10,24533.80000,27,0.233523,82,39,28,16,5,25.950000,30.450000,22.150000,8,11
2002-08-09,209510,10,20951.00000,31,-0.171009,77,45,20,12,4,22.580000,25.220000,20.850000,8,9
2003-08-07,151235,11,13748.63636,47,-0.523860,68,27,27,14,3,23.772727,27.700000,20.554545,8,7
2004-07-31,126596,11,11508.72727,86,-0.194627,96,68,16,12,5,28.227273,33.327273,24.363636,7,31

In [16]:
dataset.describe()

,Count,Days_Open,Avg_Count,News_Count,Vis_change_rate,big_data_newsCount,prev_count,mid_count,after_count,WeekDay,Avg_Tmp,High_Tmp,Low_Tmp,Month,Day
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,178496.681818,6.090909,33805.171831,127.863636,-0.061358,79.136364,44.090909,11.954545,13.409091,3.954545,19.421364,24.995406,14.795751,8.363636,14.772727
std,69883.006742,3.279214,14160.907097,127.146820,0.587218,30.656772,21.731936,8.386368,7.896106,0.898532,6.514209,5.842740,7.470025,2.082706,6.823850
min,48000.000000,3.000000,11508.727270,25.000000,-2.164125,36.000000,5.000000,3.000000,2.000000,2.000000,5.333333,10.166667,0.700000,4.000000,6.000000
25%,131292.250000,3.250000,25174.600000,44.000000,-0.320306,62.000000,27.500000,4.250000,8.250000,4.000000,15.010417,20.893750,9.243750,8.000000,9.250000
50%,169005.000000,4.000000,30591.725000,70.000000,0.073953,79.500000,40.000000,10.000000,12.500000,4.000000,17.470833,24.483333,11.516667,8.000000,12.000000
75%,228216.000000,10.000000,43138.124998,167.250000,0.235576,93.250000,60.750000,17.500000,16.750000,4.750000,25.922500,30.207500,22.840000,10.000000,19.000000
max,317012.000000,11.000000,60000.000000,449.000000,0.593809,156.000000,90.000000,28.000000,36.000000,5.000000,29.066667,33.327273,25.600000,11.000000,31.000000

In [9]:
dataset.drop("Year", axis = 1, inplace=True)

In [11]:
#Preparing Data For Training
X = dataset.iloc[:, 0:4].values
y = dataset.iloc[:, 4].values

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#### Feature Scaling

In [13]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
#Now that we have scaled our dataset, it is time to train our random forest algorithm to solve this regression problem
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

The RandomForestRegressor class of the sklearn.ensemble library is used to solve regression problems via random forest. The most important parameter of the RandomForestRegressor class is the n_estimators parameter. This parameter defines the number of trees in the random forest. We will start with n_estimator=20 to see how our algorithm performs.

#### Evaluating the Algorithm

In [15]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.28713079043
Mean Squared Error: 0.12961414709255442
Root Mean Squared Error: 0.3600196482034757